body {
	background-color: blanchedalmond;
	padding: 5%;
}

label {
	padding-right: 2%;
}

input {
	margin-right: 2%;
	width: 30%;
	height: 1.5rem;
	border-radius: 0.2rem;
}

button {
	height: 2rem;
	width: auto;
	border-radius: 0.2rem;
	background-color: black;
	color: white;
	font-weight: bold;
}

li {
	list-style: none;
	border: 1px solid #000;
	width: 40%;
	border-radius: 1rem;
	padding: 1%;
	margin-bottom: 3%;
}
