body {
	background-color: blanchedalmond;
	padding: 5%;
}

label {
	padding-right: 2%;
}

#new-task {
	margin-right: 2%;
	width: 30%;
	height: 1.7rem;
	border-radius: 0.2rem;
}

button {
	height: 2rem;
	width: auto;
	border-radius: 0.2rem;
	background-color: black;
	color: white;
	font-weight: bold;
}

li {
	list-style: none;
	border: 1px solid #000;
	width: 40%;
	border-radius: 1rem;
	text-align: center;
	padding: 1%;
	margin-bottom: 3%;
	font-weight: bold;
}

.low {
	background-color: green;
	padding: 0.7rem;
}

.high {
	background-color: red;
	padding: 0.7rem;
}

#radio-label-high {
	margin-left: 1rem;
	background-color: red;
	padding: 0.5rem;
}

#radio-label-low {
	margin-left: 1rem;
	padding: 0.5rem;
	background-color: green;
}
